@import "tailwindcss";


@layer base {
    body {
        @apply min-h-screen bg-zinc-900 grid place-items-center font-mono tracking-wider px-4;
    }
}

@keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
        transform: translate3d(0, -50px, 0);
    }
    40%, 43% {
        transform: translate3d(0, -30px, 0);
    }
    70% {
        transform: translate3d(0, -20px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0);
    }
}

.animate-bounce {
    animation: bounce 3s ease-in-out;
}

